<td class="esd-stripe" align="center">
    <table bgcolor="#efefef" class="es-content-body" align="center" cellpadding="0" cellspacing="0" width="600" style="border-radius: 20px 20px 0 0 ">
        <tbody>
            <tr>


<td>
    <table width="100%" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td width="520" align="left">
                    <table cellpadding="0" cellspacing="0" width="100%">
                        <tbody>
                            <tr>
                                <td align="left"><img src="https://drive.google.com/drive/u/1/folders/1TEmIAn_JHbdkCsxYPVqCoqrpb0PIWDEZ" width="100" /></td>                                                                
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</td>
<td align="left">
    <table cellpadding="0" cellspacing="0" width="100%" style="border-collapse:separate">
        <tbody>
            <tr>
                <td width="520" align="center" style="background-color:white">
                    <table cellpadding ="0" cellspacing="0" width="100%">
                        <tbody>
                            <tr>
                                <td align="left">
                                    <h3>Welcome, [username]</h3>
                                    <p>
                                        <br />
                                    </p>
                                    <p>
                                        You're receiving this message because you recently signed up for a account.
                                        <br><br>
                                        Confirm your email address by clicking the button below. This step adds extra security to your business by verifying you own this email.
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</td>
<td>
    <table width="100%" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td width="520" align="center">
                    <table cellpadding="0" cellspacing="0" width="100%">
                        <tbody>
                            <tr>
                                <td align="center">
                                    <button type="submit" value="" class="btn btn-primary form-control">Confirm Email</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</td>

